.card-register{
	padding:1.5rem;
	height: 10rem;
}

.card-register-pic{
	background:url(img/Register_PAGE1/registersteps.png) no-repeat;
	background-size:contain;
	border-radius: 0 0 0 0;
}

.card-social .card-block:last-child {
	border-radius:0 0 0 0;
}