
.btn-hp {
    display: inline-block;
    font-weight: 450;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    margin-top: 1rem;
    padding-top:1.4rem;
    padding-bottom:1.4rem;
    font-size: 1.5rem;
    line-height: 2;
    border-radius: 2rem;
    transition: all 0.2s ease-in-out
}

.bg-suggest{
    background-color: black;
}

.mainpage-milestone-list {
    display:block;
    font-size:1.25rem;
    font-weight:600;
    line-height:11;
    text-align:center;
    vertical-align:middle;
    border: 3px solid #372799;
    background-color: white;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.mainpage-milestone-list2 {
    display:block;
    font-size:1.25rem;
    font-weight:600;
    line-height:11;
    text-align:center;
    vertical-align:middle;
    border: 3px solid #2b8be3;
    background-color: white;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

}
.mainpage-milestone-list3 {
    display:block;
    font-size:1.25rem;
    font-weight:600;
    line-height:11;
    text-align:center;
    vertical-align:middle;
    border: 1px solid white;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

}

.mainpage-progress {
    display:block;
    font-size:1.25rem;
    font-weight:600;
    text-align:center;
    vertical-align:middle;
    border: 1px solid #e0e0e5;
    border-radius: 0.25rem;
    padding-bottom:1rem;
    margin-right:1.5rem;
    margin-left:1.5rem;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s
}

.mainpage-suggest {
    display:block;
    font-size:1.25rem;
    font-weight:600;
    text-align:center;
    vertical-align:middle;
    border: 1px solid #e0e0e5;
    border-radius: 0.25rem;
    padding-bottom:1rem;
    margin-left:1rem;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s
}

.mainpage-widgets {
    display:block;
    font-size:1.25rem;
    font-weight:600;
    text-align:center;
    vertical-align:middle;
    border-radius: 0.25rem;
    margin-top:2rem;
    margin-left:1rem;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s
}

.btn-hp-2 {
    display: inline-block;
    font-weight: 450;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    padding: 1.4rem;
    font-size: 1rem;
    line-height: 3;
    border-radius: 0.5rem;
    transition: all 0.2s ease-in-out
}

