{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>MINERVA</title>
        <link rel="stylesheet" href="{% static 'css/landio.css' %}">
        <link rel="stylesheet" href="{% static 'css/component.css' %}">
        <link rel="stylesheet" href="{% static 'css/pageloader.css' %}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
    <script src="{% static 'js/modernizr.custom.js' %}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
    </head>
    <body class="bg-white">
        <hr class="invisible">
        <div class="container">
        <div class="col-md-12" style="padding-bottom:20px;">
           <center><img src="{% static 'img/minervaofficial/minervaofficial4.png' %}" height="120" width="150"></center>
        </div>
            <br>
            <center>
                <h2>
                    <b>Register</b> or <b>Login</b>
                </h2>
            </center>
            <br>

            <div class="row">
                <div class="col-md-6 col-xl-6">


                    <div class="form-group has-icon-left form-control-name">
                        <form action="/register/" method="post">{% csrf_token %}
                        <label class="sr-only" for="firstname">First Name</label>
                        <input type="text" class="form-control form-control-lg" id="firstname" name="firstname" placeholder="First Name">
                    </div>

                    <div class="form-group has-icon-left form-control-name">
                        <label class="sr-only" for="lastname">Last Name</label>
                        <input type="text" class="form-control form-control-lg" id="lastname" name="lastname" placeholder="Last Name">
                    </div>

                    <div class="form-group has-icon-left form-control-name">
                        <label class="sr-only" for="username_reg">Username</label>
                        <input type="username" class="form-control form-control-lg" id="username_reg" name="username_reg" placeholder="Username" autocomplete="off">
                    </div>

                    <div class="form-group has-icon-left form-control-email">
                        <label class="sr-only" for="email">E-Mail Address</label>
                        <input type="email" class="form-control form-control-lg" id="email" name="email" placeholder="E-Mail Address" autocomplete="off">
                    </div>

                    <div class="form-group has-icon-left form-control-password">
                        <label class="sr-only" for="password_reg">Password</label>
                        <input type="password" class="form-control form-control-lg" id="password_reg" name="password_reg" placeholder="Password" autocomplete="off">
                    </div>

                    <div class="form-group has-icon-left form-control-password">
                        <label class="sr-only" for="password2_reg">Repeat your password</label>
                        <input type="password" class="form-control form-control-lg" id="password2_reg" name="password2_reg" placeholder="Repeat your password" autocomplete="off">
                    </div>
                        <!-- Buttons
                            ================================================== -->
                        <input type="submit" class="btn btn-primary btn-block" value="REGISTER"></input>
                        </form>
                        <hr class="invisible">
                    </div>

                    <div class="col-md-6 col-xl-6">
                        <div class="form-group has-icon-left form-control-name">
                            {% block content %}
                            <form action="/auth/" method="post">{% csrf_token %}
                                <label class="sr-only" for="username">Username</label>
                                <input type="username" class="form-control form-control-lg" id="username" name="username" placeholder="Username" autocomplete="off">
                        </div>
                        
                        <div class="form-group has-icon-left form-control-password">
                            <label class="sr-only" for="inputPassword">Password</label>
                            <input type="password" class="form-control form-control-lg" id="password" name="password" placeholder="Password" autocomplete="off">                        

                            <div style="margin: 7px 0 7px 0; cursor: pointer; color: grey;" class="md-trigger" data-modal="modal-13">Forget password?</div>
                            <br>
                        <input type="submit" class=" btn btn-primary btn-block" value="LOGIN"></input>
                        </div>

                        <!-- Buttons
                            ================================================== -->
                        </form>
                        {% endblock %}
                        <hr class="invisible">
                    </div>
                </div>

         
            <div class="md-modal md-effect-1" id="modal-13">
                  <div class="md-content">

                    <h3>Reset Password</h3>
                    <div>
                      <p>Are you sure you want to reset your password?</p>

                        <div class="form-group has-icon-left form-control-email">
                            <label class="sr-only" for="email">E-Mail Address</label>
                            <input type="email" class="form-control form-control-lg" id="email" name="email" placeholder="E-Mail Address" autocomplete="off">
                        </div>

                      <a href="physical-input-update"><button class="btn btn-primary btn-block md-close">Yes, give me the new one!</button></a>
                    </div>
                  </div>
                </div>

    <div class="md-overlay"></div><!-- the overlay element -->



                <div class="clearfix hidden-xl-up"></div>
                <div class="col-md-4">
                </div>
            </div>
        </div>

        <div id="modal-13"class="md-modal md-effect-1" >
          <div class="md-content">
            <h3>Update Profile</h3>
            <div>
              <p>Want to replace your credentials? Fill in the form below.</p>
              <div class="form-group has-icon-left form-control-email">
                <label class="sr-only" for="inputEmail">Email address</label>
                <input type="email" class="form-control form-control-lg" id="inputEmail" placeholder="Email address" autocomplete="off">
              </div>
              <div class="form-group has-icon-left form-control-password">
                <label class="sr-only" for="inputPassword">Enter a password</label>
                <input type="password" class="form-control form-control-lg" id="inputPassword" placeholder="Enter a password" autocomplete="off">
              </div>
              <button class="btn btn-primary btn-block md-close">Update Profile</button>
            </div>
          </div>
        </div>

        <!-- DARK footer
            ================================================== -->
             <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="{% static 'js/landio.min.js' %}"></script>
    <script src="{% static 'js/classie.js' %}"></script>
    <script src="{% static 'js/modalEffects.js' %}"></script>

    <!-- for the blur effect -->
    <!-- by @derSchepp https://github.com/Schepp/CSS-Filters-Polyfill -->
    <script>
      // this is important for IEs
      var polyfilter_scriptpath = '/js/';
    </script>
    <script src="js/cssParser.js"></script>
    <script src="js/css-filters-polyfill.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="{% static 'js/landio.min.js' %}"></script>
    </body>
</html>