{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>MINERVA | Milestone Details</title>
    <meta name="description" content="A free HTML template and UI Kit built on Bootstrap" />
    <meta name="keywords" content="free html template, bootstrap, ui kit, sass" />
    <meta name="author" content="Peter Finlan and Taty Grassini Codrops" />
    <link rel="manifest" href="{% static 'img/favicon/manifest.json' %}">
    <link rel="shortcut icon" href="{% static 'img/favicon/favicon.ico' %}">
    <meta name="msapplication-TileColor" content="#663fb5">
    <meta name="msapplication-TileImage" content="img/favicon/mstile-144x144.png">
    <meta name="msapplication-config" content="img/favicon/browserconfig.xml">
    <meta name="theme-color" content="#663fb5">
    <!-- Only needed Bootstrap bits + custom CSS in one file -->
    <link rel="stylesheet" href="{% static 'css/landio.css' %}">
    <link rel="stylesheet" href="{% static 'css/default.css' %}">
    <link rel="stylesheet" href="{% static 'css/component.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
    <script src="{% static 'js/modernizr.custom.js' %}"></script>
  </head>

  <body class="bg-faded">

    <div class="container" style="margin-top: 20px">

      <div class="card card-inverse card-social text-xs-center">
        <div class="card-block has-gradient">
          <img src="{% static 'img/minervaofficial/minervaofficial4.png' %}" height="120" width="150">
          <h3 class="card-title">{{ child.fullname }}</h3>
          <h6 class="card-subtitle">{{ child.birthday }}</h6>
          <form action="/logout/">
            <button type="submit" class="btn btn-secondary-outline btn-sm">Log Out</button>
          </form>
          <a href="/"><button type="submit" class="btn2 btn-secondary-outline btn-sm">HOMEPAGE</button></a>
          
          <div>
          <a href="/milestones/physical-update/"><button type="submit" class="btn2 btn-secondary-outline btn-sm">UPDATE PHYSICAL MILESTONE</button></a>
          <a href="/milestones/personal-social-update/"><button type="submit" class="btn2 btn-secondary-outline btn-sm">UPDATE COGNITIVE MILESTONE</button></a>
          </div>

        </div>
        <div class="card-block container">
          <div class="row">
            <div class="col-md-4 card-stat">
              <h4>{{ age }} <small class="text-uppercase">MONTHS OLD</small></h4>
            </div>
            <div class="col-md-4 card-stat">
              <h4>{{ weight }} <small class="text-uppercase">KILOGRAMS</small></h4>
            </div>
            <div class="col-md-4 card-stat">
              <h4>{{ height }} <small>CENTIMETER</small></h4>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
        <div class="btn3 btn-primary btn-block">PHYSICAL MILESTONE</div>
          <div class="card card-chart">
            <div id="chart-holder" class="center-block" data-active="{{ percentage_physical }}%">
              <canvas id="myChart3" class="center-block" width="150" height="150"></canvas>
            </div>
            <center><div class="label-danger" style="margin-top: 1rem;">
            LATE
            <br>
            </div></center>

            <ul class="list-group">
                {% for i in physical_late %}
              <li class="list-group-item">
                <span class="label pull-xs-right">{{ i.start }} - {{ i.finish }} months old</span>
                <span class="icon-status"></span>{{ i }}
              </li>
                {% endfor %}
            </ul>

            <center><div class="label-warning" style="margin-top: 1rem;">
            ONGOING
            <br>
            </div></center>
             <ul class="list-group">
                 {% for i in physical_in_progress %}
              <li class="list-group-item">
                <span class="label pull-xs-right">{{ i.start }} - {{ i.finish }} months old</span>
                <span class="icon-status"></span>{{ i }}
              </li>
                {% endfor %}
            </ul>

            <center><div class="label-success" style="margin-top: 1rem;">
            COMPLETED
            <br>
            </div></center>
             <ul class="list-group">
             {% for i in physical_done %}
              <li class="list-group-item">
                <span class="label pull-xs-right"></span>
                <span class="icon-status"></span>{{ i }}
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>


         <div class="col-md-6">
         <div class="btn3 btn-primary btn-block">COGNITIVE MILESTONE</div>
          <div class="card card-chart">
            <div id="chart-holder" class="center-block" data-active="{{ percentage_personal_social }}%">
              <canvas id="myChart" class="center-block" width="150" height="150"></canvas>
            </div>
            <center><div class="label-danger" style="margin-top: 1rem;">
            LATE
            <br>
            </div></center>

            <ul class="list-group">
                {% for i in personal_social_late %}
              <li class="list-group-item">
                <span class="label pull-xs-right">{{ i.start }} - {{ i.finish }} months old</span>
                <span class="icon-status"></span>{{ i }}
              </li>
                {% endfor %}
            </ul>

            <center><div class="label-warning" style="margin-top: 1rem;">
            ONGOING
            <br>
            </div></center>
             <ul class="list-group">
                  {% for i in personal_social_in_progress %}
              <li class="list-group-item">
                <span class="label pull-xs-right">{{ i.start }} - {{ i.finish }} months old</span>
                <span class="icon-status"></span>{{ i }}
              </li>
                {% endfor %}
            </ul>

            <center><div class="label-success" style="margin-top: 1rem;">
            COMPLETED
            <br>
            </div></center>
             <ul class="list-group">
              {% for j in personal_social_done %}
              <li class="list-group-item">
                <span class="label pull-xs-right"></span>
                <span class="icon-status"></span>{{ j }}
              </li>
              {% endfor %}
            </ul>
          </div>

        </div>
      </div>


        <hr class="invisible">
        <div class="col-md-12 card">
      <div class="btn3 btn-primary has-gradient btn-block">SUGGESTED ACTIVITIES</div></a>
      <div class="main">
        <ul class="cbp-ig-grid">
          <li>
            <a href="#">
              <span class="cbp-ig-icon"><img src="
          https://cdn.shopify.com/s/files/1/0329/7117/products/51n8IWG0WrL.jpg?v=1479928392" width="210px" /></span>
              <h3 class="cbp-ig-title">ELC Giant Wooden</h3>
              <span class="cbp-ig-category">Physical</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="cbp-ig-icon"><img src="
          https://cdn.shopify.com/s/files/1/0329/7117/products/little_tikes_activity_garden_large.jpg?v=1461192102" width="250px" /></span>
              <h3 class="cbp-ig-title">Little Tikes Garden</h3>
              <span class="cbp-ig-category">Cognitive</span>
            </a>
          </li>
          <li>
            <a href="https://babyloania.com/collections/play/products/sewa-sepeda-smart-trike-4-in-1-zoo">
              <span class="cbp-ig-icon"><img src="
          https://cdn.shopify.com/s/files/1/0329/7117/products/sewa-smarttrike-ladybug-jakarta-depok-tangerang-bekasi_large.jpg?v=1480418870" width="250px" /></span>
              <h3 class="cbp-ig-title">Smart Trike 4-in-1</h3>
              <span class="cbp-ig-category">Social</span>
            </a>
          </li>
          <li>
            <a href="https://babyloania.com/collections/play/products/sewa-bambinio-activity-toys-2">
              <span class="cbp-ig-icon"><img src="
          https://cdn.shopify.com/s/files/1/0329/7117/products/IMG_8051_large.JPG?v=1479931832" width="250px" /></span>
              <h3 class="cbp-ig-title">Bambinio Activity Toys</h3>
              <span class="cbp-ig-category">Socioemotional</span>
            </a>
          </li>
          <li>
            <a href="https://babyloania.com/collections/play/products/sewa-elc-light-and-sound-activity-table">
              <span class="cbp-ig-icon"><img src="
          https://cdn.shopify.com/s/files/1/0329/7117/products/ELC-Light-and-Sounds-Activity-SDL677674478-1-fab8e_large.jpg?v=1478810351" width="210px" /></span>
              <h3 class="cbp-ig-title">ELC Sound&Activity Table</h3>
              <span class="cbp-ig-category">Psychological</span>
            </a>
          </li>
          <li>
            <a href="https://babyloania.com/collections/play/products/sewa-fisher-price-rainforest-jumperoo">
              <span class="cbp-ig-icon"><img src="
          https://cdn.shopify.com/s/files/1/0329/7117/products/Sewa-Fisher-Price-Rainforest-Jumperoo-Jakarta_large.jpeg?v=1416554419" width="250px" /></span>
              <h3 class="cbp-ig-title">Fisher Price Rainforest</h3>
              <span class="cbp-ig-category">Intellegence</span>
            </a>
          </li>
        </ul>
        <center><h2>Powered by</h2>
        <img src="https://cdn.shopify.com/s/files/1/0329/7117/t/6/assets/logo.png?15897746559003330168"></center>

      </div>
      </div>
      <div class="col-md-12 card">
    </div>


    <hr class="invisible">

    
     <script type="text/javascript">
      var ctx = document.getElementById('myChart').getContext('2d');
      var myChart3 = new Chart(ctx, {
        type: 'doughnut',
        data: {
          labels: [
              "Completed",
              "Ongoing",
              "Late"
          ],
          datasets: [
              {
                  data: [parseInt("{{personal_social_done_len}}"), parseInt("{{personal_social_in_progress_len}}"), parseInt("{{personal_social_late_len}}")],
                  backgroundColor: [
                      "#18bc9c",
                      "#f4d10c",
                      "#d9534f",
                  ],
                  hoverBackgroundColor: [
                      "#2d8a78",
                      "#f5bb4a",
                      "#ea645f",
                  ]
              }]
        }
      });

    </script>

     <script type="text/javascript">
      var ctx = document.getElementById('myChart2').getContext('2d');
      var myChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: ["January", "February", "March", "April", "May", "June", "July"],
          datasets: [
        {
            label: "CHILD'S GROWTH",
            fill: false,
            lineTension: 0.1,
            backgroundColor: "rgba(75,192,192,0.4)",
            borderColor: "rgba(75,192,192,1)",
            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'miter',
            pointBorderColor: "rgba(75,192,192,1)",
            pointBackgroundColor: "#fff",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "rgba(75,192,192,1)",
            pointHoverBorderColor: "rgba(220,220,220,1)",
            pointHoverBorderWidth: 2,
            pointRadius: 1,
            pointHitRadius: 10,
            data: [65, 59, 80, 81, 56, 55, 40],
            spanGaps: false,
        }
    ]
        }
      });

    </script>

  <script type="text/javascript">
      var ctx = document.getElementById('myChart4').getContext('2d');
      var myChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: ["January", "February", "March", "April", "May", "June", "July"],
          datasets: [
        {
            label: "CHILD'S GROWTH",
            fill: false,
            lineTension: 0.1,
            backgroundColor: "rgba(75,192,192,0.4)",
            borderColor: "rgba(75,192,192,1)",
            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'miter',
            pointBorderColor: "rgba(75,192,192,1)",
            pointBackgroundColor: "#fff",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "rgba(75,192,192,1)",
            pointHoverBorderColor: "rgba(220,220,220,1)",
            pointHoverBorderWidth: 2,
            pointRadius: 1,
            pointHitRadius: 10,
            data: [65, 59, 80, 81, 56, 55, 40],
            spanGaps: false,
        }
    ]
        }
      });

  </script>

 <script type="text/javascript">
      var ctx = document.getElementById('myChart3').getContext('2d');
      var myChart3 = new Chart(ctx, {
        type: 'doughnut',
        data: {
          labels: [
              "Completed",
              "Ongoing",
              "Late"
          ],
          datasets: [
              {
                  data: [parseInt("{{physical_done_len}}"), parseInt("{{physical_in_progress_len}}"), parseInt("{{physical_late_len}}")],
                  backgroundColor: [
                      "#18bc9c",
                      "#f4d10c",
                      "#d9534f",
                  ],
                  hoverBackgroundColor: [
                      "#2d8a78",
                      "#f5bb4a",
                      "#ea645f",
                  ]
              }]
        }
      });

    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="{% static 'js/landio.min.js' %}"></script>
    <script src="{% static 'js/classie.js' %}"></script>
    <script src="{% static 'js/modalEffects.js' %}"></script>

    <!-- for the blur effect -->
    <!-- by @derSchepp https://github.com/Schepp/CSS-Filters-Polyfill -->
    <script>
      // this is important for IEs
      var polyfilter_scriptpath = '/js/';
    </script>
    <script src="js/cssParser.js"></script>
    <script src="js/css-filters-polyfill.js"></script>
  </body>
</html>
