{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Personal Social Milestones</title>
    <link rel="stylesheet" href="{% static 'css/landio.css' %}">
	<link rel="stylesheet" href="{% static 'css/milestones.css' %}">
  </head>

  <body class="bg-white">
	<hr class="invisible">
    <div class="container">
      <div class="card card-inverse card-social text-xs-center" style="border-radius: 5rem;">
        <div class="card-block has-gradient" style="border-radius: 0.25rem;">
          <img src="{% static 'img/minervaofficial/minervaofficial4.png' %}" height="120" width="150">
          <h3 class="card-title">{{ child.fullname }}</h3>
          <h6 class="card-subtitle">{{ child.birthday }}</h6>
          <form action="/logout/">
            <button type="submit" class="btn btn-secondary-outline btn-sm">Log Out</button>
          </form>
          <button type="submit" class="md-trigger btn2 btn-secondary-outline btn-sm" style="margin-bottom: 5px;">HOMEPAGE</button>

          <div class="row">
            <div class="col-md-4">
              <button type="submit" class="btn2 btn-primary-outline btn-sm" style="padding:0.75rem 5rem;">PHYSICAL DATA INPUT</button>
            </div>
            <div class="col-md-4">
              <button type="submit" class="btn2 btn-secondary-outline btn-sm" style="padding:0.75rem 5rem;">PHYSICAL MILESTONE</button>
            </div>
            <div class="col-md-4">
              <button type="submit" class="btn2 btn-secondary-outline btn-sm" style="padding:0.75rem 5rem; background-color:white; color:#4e5aca;">COGNITIVE MILESTONE</button>
            </div>
          </div>
        </div>
      </div>

		<hr class="invisible">
      <div class="row">
        <div class="col-md-8 col-xl-8">
			 <form action="/milestones-auth/personal-social-update/" method="post">{% csrf_token %}
		<div class='agegroup'> <!-- Checklists per age group -->
			<div class='agelabel'><b>0-3 months old</b></div> <!-- Age Description -->
		{% for m in milestone_list %}
			{% if m.start < 4 %}
		  <div class="checkbox">
				{% if m.ps_milestone in milestone_checklist %}
				<button type="button" class="btn btn-lg btn-default checkbox-reg milestone-complete">
				<label><input type="checkbox" value="{{ m.id }}" name="checklist" checked>
				{% elif m.seven_five <= age <= m.finish %}
				<button type="button" class="btn btn-lg btn-default checkbox-reg milestone-waiting-for">
				<label><input type="checkbox" value="{{ m.id }}" name="checklist">
				{% else %}
				<button type="button" class="btn btn-lg btn-default checkbox-reg milestone-late">
				<label><input type="checkbox" value="{{ m.id }}" name="checklist">
				{% endif %}
					<h6><b>{{ m.ps_milestone }}</b> </h6>
					<p>Description of milestone.</p></label>
				</button>
		  </div>
			{% endif %}
		{% endfor %}

			<div class='agelabel'><b>4-6 months old</b></div> <!-- Age Description -->
		{% for m in milestone_list %}
			{% if m.start > 3 and m.start < 6 %}
		  <div class="checkbox">
				{% if m.ps_milestone in milestone_checklist %}
				<button type="button" class="btn btn-lg btn-default checkbox-reg milestone-complete">
				<label><input type="checkbox" value="{{ m.id }}" name="checklist" checked>
				{% elif m.seven_five <= age <= m.finish %}
				<button type="button" class="btn btn-lg btn-default checkbox-reg milestone-waiting-for">
				<label><input type="checkbox" value="{{ m.id }}" name="checklist">
				{% else %}
				<button type="button" class="btn btn-lg btn-default checkbox-reg milestone-late">
				<label><input type="checkbox" value="{{ m.id }}" name="checklist">
				{% endif %}
					<h6><b>{{ m.ps_milestone }}</b> </h6>
					<p>Description of milestone.</p></label>
				</button>
		  </div>
			{% endif %}
		{% endfor %}

			<div class='agelabel'><b>7-9 months old</b></div> <!-- Age Description -->
		{% for m in milestone_list %}
			{% if m.start > 6 and m.start < 9.5 %}
		  <div class="checkbox">
				{% if m.ps_milestone in milestone_checklist %}
			  	<button type="button" class="btn btn-lg btn-default checkbox-reg milestone-complete">
				<label><input type="checkbox" value="{{ m.id }}" name="checklist" checked>
				{% elif m.seven_five <= age <= m.finish %}
				<button type="button" class="btn btn-lg btn-default checkbox-reg milestone-waiting-for">
				<label><input type="checkbox" value="{{ m.id }}" name="checklist">
				{% else %}
				<button type="button" class="btn btn-lg btn-default checkbox-reg milestone-late">
				<label><input type="checkbox" value="{{ m.id }}" name="checklist">
				{% endif %}
					<h6><b>{{ m.ps_milestone }}</b> </h6>
					<p>Description of milestone.</p></label>
				</button>
		  </div>
			{% endif %}
		{% endfor %}

			<div class='agelabel'><b>10-12 months old</b></div> <!-- Age Description -->
		{% for m in milestone_list %}
			{% if m.start > 9.4 and m.start < 12 %}
		  <div class="checkbox">
				{% if m.ps_milestone in milestone_checklist %}
			  	<button type="button" class="btn btn-lg btn-default checkbox-reg milestone-complete">
				<label><input type="checkbox" value="{{ m.id }}" name="checklist" checked>
				{% elif m.seven_five <= age <= m.finish %}
				<button type="button" class="btn btn-lg btn-default checkbox-reg milestone-waiting-for">
				<label><input type="checkbox" value="{{ m.id }}" name="checklist">
				{% else %}
				<button type="button" class="btn btn-lg btn-default checkbox-reg milestone-late">
				<label><input type="checkbox" value="{{ m.id }}" name="checklist">
				{% endif %}
					<h6><b>{{ m.ps_milestone }}</b> </h6>
					<p>Description of milestone.</p></label>
				</button>
		  </div>
			{% endif %}
		{% endfor %}

		<div class='agelabel'><b>1-1.5 years old</b></div> <!-- Age Description -->
		{% for m in milestone_list %}
			{% if m.start > 11 and m.start < 18 %}
		  <div class="checkbox">
				{% if m.ps_milestone in milestone_checklist %}
			  	<button type="button" class="btn btn-lg btn-default checkbox-reg milestone-complete">
				<label><input type="checkbox" value="{{ m.id }}" name="checklist" checked>
				{% elif m.seven_five <= age <= m.finish %}
				<button type="button" class="btn btn-lg btn-default checkbox-reg milestone-waiting-for">
				<label><input type="checkbox" value="{{ m.id }}" name="checklist">
				{% else %}
				<button type="button" class="btn btn-lg btn-default checkbox-reg milestone-late">
				<label><input type="checkbox" value="{{ m.id }}" name="checklist">
				{% endif %}
					<h6><b>{{ m.ps_milestone }}</b> </h6>
					<p>Description of milestone.</p></label>
				</button>
		  </div>
			{% endif %}
		{% endfor %}

		<div class='agelabel'><b>1.5-2 years old</b></div> <!-- Age Description -->
		{% for m in milestone_list %}
			{% if m.start > 17 and m.start < 24 %}
		  <div class="checkbox">
				{% if m.ps_milestone in milestone_checklist %}
			  	<button type="button" class="btn btn-lg btn-default checkbox-reg milestone-complete">
				<label><input type="checkbox" value="{{ m.id }}" name="checklist" checked>
				{% elif m.seven_five <= age <= m.finish %}
				<button type="button" class="btn btn-lg btn-default checkbox-reg milestone-waiting-for">
				<label><input type="checkbox" value="{{ m.id }}" name="checklist">
				{% else %}
				<button type="button" class="btn btn-lg btn-default checkbox-reg milestone-late">
				<label><input type="checkbox" value="{{ m.id }}" name="checklist">
				{% endif %}
					<h6><b>{{ m.ps_milestone }}</b> </h6>
					<p>Description of milestone.</p></label>
				</button>
		  </div>
			{% endif %}
		{% endfor %}

			<div class='agelabel'><b>above 2 years old</b></div> <!-- Age Description -->
		{% for m in milestone_list %}
			{% if m.start > 23 %}
		  <div class="checkbox">
				{% if m.ps_milestone in milestone_checklist %}
			  	<button type="button" class="btn btn-lg btn-default checkbox-reg milestone-complete">
				<label><input type="checkbox" value="{{ m.id }}" name="checklist" checked>
				{% elif m.seven_five <= age <= m.finish %}
				<button type="button" class="btn btn-lg btn-default checkbox-reg milestone-waiting-for">
				<label><input type="checkbox" value="{{ m.id }}" name="checklist">
				{% else %}
				<button type="button" class="btn btn-lg btn-default checkbox-reg milestone-late">
				<label><input type="checkbox" value="{{ m.id }}" name="checklist">
				{% endif %}
					<h6><b>{{ m.ps_milestone }}</b> </h6>
					<p>Description of milestone.</p></label>
				</button>
		  </div>
			{% endif %}
		{% endfor %}

		  </div>
		</div>
          <hr class="invisible">
        </div> <!-- End of age group checklist-->

		<div class='submitbutton'>
			<input type='submit' class="btn btn-primary btn-block"></input>
		</div>
	</div>
</form>
        <div class="clearfix hidden-xl-up"></div>

        <div class="col-md-4">

         </div>
         </div>
         </div>
         <br><br>
         <!-- DARK footer
    ================================================== -->

    <footer class="section-footer bg-inverse" role="contentinfo">
      <div class="container">

      </div>
    </footer>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="{% static 'js/landio.min.js' %}"></script>
  </body>
</html>