{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Physical Milestones - Registration</title>
    <link rel="stylesheet" href="{% static 'css/landio.css' %}">
	<link rel="stylesheet" href="{% static 'css/physical-milestones.css' %}">
  </head>

  <body class="bg-white">
	<hr class="invisible">
    <div class="container">
	      <center><h2>
	      <b>Physical</b><br>Milestones</h2>
	      </center><br>
	      <div class="card card-inverse card-social has-gradient card-register text-xs-center">
	        <div class="card-block card-register-pic" style="height:100%;">
	        </div>
	      </div>

		<hr class="invisible">
      <div class="row">
        <div class="col-md-8 col-xl-8">
			 <form action="/milestones_auth/" method="post">{% csrf_token %}
		<div class='agegroup'> <!-- Checklists per age group -->
			<div class='agelabel'><b>0-3 months old</b></div> <!-- Age Description -->
		{% for m in milestone_list %}
			{% if m.start < 4 %}
		  <div class="checkbox">
		    <button type="button" class="btn btn-lg btn-default checkbox-reg">
				<label><input type="checkbox" value="{{ m.id }}" name="checklist">
					<h6><b>{{ m.milestone }}</b> </h6>
					<p>Description of milestone.</p></label>
				</button>
		  </div>
			{% endif %}
		{% endfor %}

			<div class='agelabel'><b>4-6 months old</b></div> <!-- Age Description -->
		{% for m in milestone_list %}
			{% if m.start > 3 and m.start < 6 %}
		  <div class="checkbox">
		    <button type="button" class="btn btn-lg btn-default checkbox-reg">
				<label><input type="checkbox" value="{{ m.id }}" name="checklist">
					<h6><b>{{ m.milestone }}</b> </h6>
					<p>Description of milestone.</p></label>
				</button>
		  </div>
			{% endif %}
		{% endfor %}

			<div class='agelabel'><b>7-9 months old</b></div> <!-- Age Description -->
		{% for m in milestone_list %}
			{% if m.start > 6 and m.start < 10 %}
		  <div class="checkbox">
		    <button type="button" class="btn btn-lg btn-default checkbox-reg">
				<label><input type="checkbox" value="{{ m.id }}" name="checklist">
					<h6><b>{{ m.milestone }}</b> </h6>
					<p>Description of milestone.</p></label>
				</button>
		  </div>
			{% endif %}
		{% endfor %}

			<div class='agelabel'><b>10-12 months old</b></div> <!-- Age Description -->
		{% for m in milestone_list %}
			{% if m.start > 9 and m.start < 12 %}
		  <div class="checkbox">
		    <button type="button" class="btn btn-lg btn-default checkbox-reg">
				<label><input type="checkbox" value="{{ m.id }}" name="checklist">
					<h6><b>{{ m.milestone }}</b> </h6>
					<p>Description of milestone.</p></label>
				</button>
		  </div>
			{% endif %}
		{% endfor %}

		<div class='agelabel'><b>1-1.5 years old</b></div> <!-- Age Description -->
		{% for m in milestone_list %}
			{% if m.start > 11 and m.start < 18 %}
		  <div class="checkbox">
		    <button type="button" class="btn btn-lg btn-default checkbox-reg">
				<label><input type="checkbox" value="{{ m.id }}" name="checklist">
					<h6><b>{{ m.milestone }}</b> </h6>
					<p>Description of milestone.</p></label>
				</button>
		  </div>
			{% endif %}
		{% endfor %}

		<div class='agelabel'><b>1.5-2 years old</b></div> <!-- Age Description -->
		{% for m in milestone_list %}
			{% if m.start > 17 and m.start < 24 %}
		  <div class="checkbox">
		    <button type="button" class="btn btn-lg btn-default checkbox-reg">
				<label><input type="checkbox" value="{{ m.id }}" name="checklist">
					<h6><b>{{ m.milestone }}</b> </h6>
					<p>Description of milestone.</p></label>
				</button>
		  </div>
			{% endif %}
		{% endfor %}

			<div class='agelabel'><b>above 2 years old</b></div> <!-- Age Description -->
		{% for m in milestone_list %}
			{% if m.start > 23 %}
		  <div class="checkbox">
		    <button type="button" class="btn btn-lg btn-default checkbox-reg">
				<label><input type="checkbox" value="{{ m.id }}" name="checklist"">
					<h6><b>{{ m.milestone }}</b> </h6>
					<p>Description of milestone.</p></label>
				</button>
		  </div>
			{% endif %}
		{% endfor %}

		  </div>
		</div>
          <hr class="invisible">
        </div> <!-- End of age group checklist-->

		<div class='submitbutton'>
			<input type='submit' class="btn btn-primary btn-block"></input>
		</div>
	</div>
</form>
        <div class="clearfix hidden-xl-up"></div>

        <div class="col-md-4"> 

         </div>
         </div>
         </div>
         <br><br>
         <!-- DARK footer
    ================================================== -->

    <footer class="section-footer bg-inverse" role="contentinfo">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-5">
            <div class="media">
              <div class="media-left">
                <span class="media-object icon-logo display-1"></span>
              </div>
              <small class="media-body media-bottom">
                &copy; Land.io 2015. <br>
                Designed by Peter Finlan, developed by Taty Grassini, exclusively for Codrops.
              </small>
            </div>
          </div>
          <div class="col-md-6 col-lg-7">
            <ul class="nav nav-inline">
              <li class="nav-item">
                <a class="nav-link" href="./index-carousel.html"><small>NEW</small> Slides<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active"><a class="nav-link" href="ui-elements.html">UI Kit</a></li>
              <li class="nav-item"><a class="nav-link" href="https://github.com/tatygrassini/landio-html" target="_blank">GitHub</a></li>
              <li class="nav-item"><a class="nav-link scroll-top" href="#totop">Back to top <span class="icon-caret-up"></span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

        

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="{% static 'js/landio.min.js' %}"></script>
  </body>
</html>