{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>MINERVA | Form Data Input</title>
    <link rel="stylesheet" href="{% static 'css/landio.css' %}">
    <link rel="stylesheet" href="{% static 'css/register-input.css' %}">

    <script type="text/javascript" src="{% static 'js/dynamic-table-t.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>

  <body onload="load()" class="bg-white">
    <hr class="invisible">

<!--MAIN BODY================================================== -->
    <form action="/physical-input-auth-update/" method="post">{% csrf_token %}
    <div class="container">
      <!--HEADER-->
      <div class="card card-inverse card-social text-xs-center">
        <div class="card-block has-gradient" style="border-radius: 0.25rem;">
          <img src="{% static 'img/minervaofficial/minervaofficial4.png' %}" height="120" width="150">
          <h3 class="card-title">{{ child.fullname }}</h3>
          <h6 class="card-subtitle">{{ child.birthday }}</h6>
          <form action="/logout/">
            <button type="submit" class="btn btn-secondary-outline btn-sm">Log Out</button>
          </form>
          <form action="/">
          <button type="submit" class="md-trigger btn2 btn-secondary-outline btn-sm" style="margin-bottom: 5px;">HOMEPAGE</button>
          </form>

          <div class="row">
            <div class="col-md-4">
              <form action="/physical-input-update/">
                <button type="submit" class="btn2 btn-primary-outline btn-sm" style="padding:0.75rem 5rem; background-color:white; color:#4e5aca;">PHYSICAL DATA INPUT</button>
              </form>
            </div>
            <div class="col-md-4">
              <form action="/milestones/physical-update">
              <button type="submit" class="btn2 btn-secondary-outline btn-sm" style="padding:0.75rem 5rem;">PHYSICAL MILESTONE</button>
              </form>
            </div>
            <div class="col-md-4">
              <form action="/milestones/personal-social-update/">
                <button type="submit" class="btn2 btn-secondary-outline btn-sm" style="padding:0.75rem 5rem;">COGNITIVE MILESTONE</button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <br>

      <!--DATA DIRI-->
      <div class="row">
          <div class="col-md-6 col-xl-6">
            <div class="form-group">
              <label class="sr-only" for="inputName">Full Name</label>
                {% if child_data.fullname  %}
              <input type="text" class="form-control form-control-lg" id="inputName" name="fullname"
                     value="{{child_data.fullname}}" placeholder="Full Name" required>
                {% else %}
                <input type="text" class="form-control form-control-lg" id="inputName" name="fullname"
                       placeholder="Full Name" required>
                {% endif %}
            </div>

            <div class="form-group">
              <label class="sr-only" for="inputNick">Nick Name</label>
              {% if child_data.nickname %}
              <input type="text" class="form-control form-control-lg" id="inputNick" name="nickname" placeholder="Nick Name" value="{{child_data.nickname}}" autocomplete="off" required>

              {% else %}
              <input type="text" class="form-control form-control-lg" id="inputNick" name="nickname" placeholder="Nick Name" autocomplete="off" required>
              {% endif %}
            </div>

            <div class="form-group form-control-Gender">
               {% if child_data.gender == "M" %}
               <input type="radio" checked="checked" value="male" name="gender"> Male<br>
               <input type="radio" value="female" name="gender"> Female<br>
               <small id="genderHelp" class="form-text text-muted">Select gender</small>
               {% else %}
               <input type="radio" value="male" name="gender"> Male<br>
               <input type="radio" checked="checked" value="female" name="gender"> Female<br>
               <small id="genderHelp" class="form-text text-muted">Select gender</small>
               {% endif %}
            </div>

            <div class="form-group">
              <input class="form-control" type="date" placeholder="" id="Data-date-input" name="birthday" value="{{birthday}}" required>
              <small id="dobHelp" class="form-text text-muted">The birth day of your child</small>
            </div>
          </div>
      </div>

      <hr class="invisible">
      <!-- HISTORY WEIGHT & HEIGHT-->
      <div class="row">
        <div class="col-md-6 col-xl-6">
          <h2><center> Please complete the form.</center></h2>
          <h4><center>HISTORICAL <b>WEIGHT</b> and <b>HEIGHT</b></center></h4>
            <br>
            <!--WEIGHT-->
            <div class="col-md-6 col-xl-6" style="padding-left: 0; padding-right: 5px;">
              <div class="form-group form-control-Weight">
                <label class="sr-only" for="inputWeight">Weight</label>
                <input type="text" class="form-control form-control-lg" id="inputWeight" placeholder="Weight" name="weight" >
                <small id="weightHelp" class="form-text text-muted">Please input weight in kg scale</small>
              </div>
            </div>
            <!--HEIGHT-->
            <div class="col-md-6 col-xl-6" style="padding-left: 5px; padding-right: 0;">
              <div class="form-group form-control-Height">
                <label class="sr-only" for="inputHeight">Height</label>
                <input type="text" class="form-control form-control-lg" id="inputHeight" placeholder="Height" name="height">
                <small id="heightHelp" class="form-text text-muted">Please input height in cm scale</small>
              </div>
            </div>
            <!--DATE TAKEN-->
            <div class="col-md-8 col-xl-8" style="padding-left: 0; padding-right: 5px;">
              <div class="form-group">
                <input class="form-control" type="date" placeholder="test" id="weightheight-date-input" name="date_w_and_h">
                <small id="dateHelp" class="form-text text-muted">Date Taken</small>
              </div>
            </div>
            <!-- ADD BUTTON-->
            <div class="col-md-4 col-xl-4" style="padding-left: 5px; padding-right: 5px;">
                <button type="button" class="btn btn-primary-outline btn-block"  onclick="Javascript:addRowWeightHeight()">ADD TO TABLE</button>
            </div>
        </div>
        <br><br>
        <div class="col-md-6 col-xl-6">
          <div class="currentdata">
            <table class="table table-fill" id='WeightHeightTable'>
              <thead>
                <tr>
                  <th>Weight</th>
                  <th>Height</th>
                  <th>Date</th>
                  <th></th>
                </tr>
                {% for d in weight_height_data %}
                <tr>
                  <td>{{d.weight}}<br><input type="hidden" class="form-control form-control-lg" name="inputWeight" value="{{d.weight}}"></td>
                  <td>{{d.height}}<br><input type="hidden" class="form-control form-control-lg" name="inputHeight" value="{{d.height}}"></td>
                  <td>{{d.date_w_and_h}}<br><input type="hidden" class="form-control form-control-lg" name="inputWeightHeightDate" value="{{d.date_w_and_h}}"></td>
                  <td><input type="button" value="Delete" onclick="Javascript:deleteRowWeightHeight(this)"></td>
                </tr>
                {% endfor %}
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>

        </div>
      </div>

      <hr class="invisible">
      <!-- HISTORY TEETH DATA-->
      <div class="row">
        <div class="col-md-6 col-xl-6">
            <h4><center>HISTORICAL <b>TEETH DATA</b></center></h4>
            <br>
              <div class="form-group">
                <label class="sr-only" for="inputTeeth">Number of Teeth</label>
                <input type="text" class="form-control form-control-lg" id="inputTeeth" name="teeth" placeholder="Number Of Teeth" autocomplete="off">
              </div>

              <div class="col-md-8 col-xl-8" style="padding-left: 0px;padding-right: 5px;">
                <div class="form-group">
                  <input class="form-control" type="date" placeholder="test" id="teeth-date-input" name="date_teeth">
                  <small id="dateHelp" class="form-text text-muted">Date Taken</small>
                </div>
              </div>

              <div class="col-md-4 col-xl-4" style="padding-left: 5px; padding-right: 0px">
                  <button type="button" class="btn btn-primary-outline btn-block" onclick="Javascript:addRowTeeth()">ADD TO TABLE</button>
              </div>
        </div>
        <br><br>
        <div class="col-md-6 col-xl-6">
          <div class="currentdata">
            <table class="table table-fill" id='TeethTable'>
              <thead>
                <tr>
                  <th>Teeth Number</th>
                  <th>Date</th>
                  <th></th>
                </tr>
                {% for d in teeth_data %}
                <tr>
                  <td>{{d.teeth}}<br><input type="hidden" class="form-control form-control-lg" name="inputTeeth" value="{{d.teeth}}"></td>
                  <td>{{d.date_teeth}}<br><input type="hidden" class="form-control form-control-lg" name="inputTeethDate" value="{{d.date_teeth}}"></td>
                  <td><input type="button" value="Delete" onclick="Javascript:deleteRowTeeth(this)"></td>
                </tr>
                {% endfor %}
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <hr class="invisible">
      <!-- HEAD CIRCUMFERENCE-->
      <div class="row">
        <div class="col-md-6 col-xl-6">
            <h4><center><b>HEAD CIRCUMFERENCE</b></center></h4>
            <br>
              <div class="form-group">
                <label class="sr-only" for="inputHead">Head Size</label>
                <input type="text" class="form-control form-control-lg" id="inputHead" name="head" placeholder="Head Size" autocomplete="off">
              </div>

              <div class="col-md-8 col-xl-8" style="padding-left: 0px;padding-right: 5px;">
                <div class="form-group">
                  <input class="form-control" type="date" placeholder="test" id="date_head" name="date_head">
                  <small id="dateHelp" class="form-text text-muted">Date Taken</small>
                </div>
              </div>

              <div class="col-md-4 col-xl-4" style="padding-left: 5px; padding-right: 0;">
                  <button type="button" class="btn btn-primary-outline btn-block"  onclick="Javascript:addRowHead()">ADD TO TABLE</button>
              </div>
          </div>
          <br><br>
          <div class="col-md-6 col-xl-6">
            <div class="currentdata">
              <table class="table table-fill" id='HeadTable'>
                <thead>
                  <tr>
                    <th>Head Circumference</th>
                    <th>Date</th>
                  </tr>
                  {% for d in head_data %}
                <tr>
                  <td>{{d.head_size}}<br><input type="hidden" class="form-control form-control-lg" name="inputHead" value="{{d.head_size}}"></td>
                  <td>{{d.date_head}}<br><input type="hidden" class="form-control form-control-lg" name="inputHeadDate" value="{{d.date_head}}"></td>
                  <td><input type="button" value="Delete" onclick="Javascript:deleteRowHead(this)"></td>
                </tr>
                {% endfor %}
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>
          </div>
      </div>


      <!--NEXT STEP BUTTON-->
    </div>
      </form>

      <hr class="invisible">

<!-- DARK footer================================================== -->

    <footer class="section-footer bg-inverse" role="contentinfo">

    </footer>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <script src="{% static 'js/landio.min.js' %}"></script>

    <script src="{% static 'js/moment.js' %}"></script>

    <!-- Cannot find this script -->

    <script src="{% static 'js/bootstrap/collapse.js' %}"></script>

    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.42/css/bootstrap-datetimepicker.min.css"></script>
  </body>
</html>
