{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Invalid Request</title>
        <link rel="stylesheet" href="{% static 'css/landio.css' %}">
        {% if tag == 'login' or tag == 'register' or tag == 'logout' %}
        <meta http-equiv="refresh" content="3; url=/login/">
        {% elif tag == 'incomplete' %}
        <meta http-equiv="refresh" content="3; url=/physical_input/">
        {% endif %}
    </head>
    <body>
        {% if tag == 'login' %}
        <br><br>
        <center><h1><b>Wrong username or password!</b></h1>
        <h3>Redirecting you to the previous page...</h3></center>
        {% elif tag == 'register' %}
        <br><br>
        <center><h1><b>Register form incorrectly filled out!</b></h1>
        <h3>Redirecting you to the previous page...</h3></center>
        {% elif tag == 'incomplete' %}
        <br><br>
        <center><h1><b>Form input incomplete!</b></h1>
        <h3>Redirecting you to the previous page...</h3></center>
        {% elif tag == 'logout' %}
        <br><br>
        <center><h1><b>You are not logged in!</b></h1>
        <h3>Redirecting you to the login page...</h3></center>
        {% endif %}
    </body>
</html>