{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta http-equiv="refresh" content="3; url=/">
    <title>Physical Milestones - Registration</title>
    <link rel="stylesheet" href="{% static 'css/landio.css' %}">
	<link rel="stylesheet" href="{% static 'css/milestones.css' %}">
  </head>

  <body class="bg-white">
	<hr class="invisible">
    <div class="container">
	      <center><h2>
	      <b>Register</b><br>FINISH</h2>
	      </center><br>
	      <div class="card_header card-inverse has-gradient card-register">
	        <div class="card-register-pic4" style="height:100%; position: center;">
	        </div>
	      </div>

	     <div class="col-md-12 col-xl-12">
		     <center>
		     <br>
		     <h3>Thank you for joining us!</h3>
		     <h3>Your registration is complete.</h3>
		    <section class="section-news" style="padding-bottom:2rem;">
                <h5 style="color:white;"><a href="/">GO TO HOMEPAGE<span class="icon-arrow-right"></span></a></h5>
		    </section>
	     </div>
     </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="{% static 'js/landio.min.js' %}"></script>
  </body>
</html>